/* Shift main content to the left if sidebar is unused */
.page {
  display: flex;
  flex-direction: row;
}

.page__main {
  margin-left: 0;
  flex-grow: 1;
}

.page__content {
  max-width: 100%;
  margin-left: 0;
  padding-left: 1rem;
}
.page__toc {
  max-width: 250px;
}

.sidebar__left {
  display: none;
}
